Makefile
Makefile.in
Makefile.in.in
*.m4
autom4te.cache
config.h*
config.sub
config.guess
config.status
config.log
config.rpath
configure
install-sh
ltmail.sh
m4
missing
py-compile
stamp-h1
stamp-it
Rules-quot
*.sed
*.sin
*.header
Makevars.template
ABOUT-NLS
ltmain.sh
data/*.desktop
data/*.xml
data/*.xml.in
*.swp
.intltool-merge-cache
src/config.py
*.pyc
*.pyo
